.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 55px 305px 55px;
    border-top: 1px solid #FFF2C8;
}

.footer-section__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 186px;
    padding-bottom: 10px;
    height: 100%;
}

.footer-section__content-form {
    max-width: 493px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222; 
    box-sizing: border-box;
}

.footer-section__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 631px;
    width: 100%;
}

.footer-section__content-logo {
    width: 240px;
    height: 168.343px;
    flex-shrink: 0;
    margin-bottom: 46px;
}

.footer-section__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 122px;
    border-top: 1px solid #FFF2C8;
    width: 100%;
    max-width: 631px;
}

.border {
    border-bottom: 1px solid #FFF2C8;
    margin-bottom: 114px;
}

.footer-section__social-title {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
}

.footer-section__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

img.footer-section__social-icon {
    max-width: 62px !important;
    max-height: 62px !important;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

img.footer-section__social-icon:hover {
    opacity: 0.8; 
    cursor: pointer;
}

.footer-section__copyright {
    padding-top: 57px;
    border-top: 1px solid #FFF2C8;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding-bottom: 44px;
}

.footer-section__text {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-section__content-form h5 {
    color: #FFF;
    text-align: center;
    font-family: Comfortaa;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-section__content-form iframe {
    border-radius: 16px; 
}

@media screen and (max-width: 1850px) {
    .footer-section {
        padding: 55px 100px 0px;
    }

    .footer-section__content-form {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1520px) {
    .footer-section__content {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 820px) {
    .footer-section {
        padding: 55px 50px 0px;
    }

   .footer-section__content-container {
        padding: 0 50px;

    }

    .footer-section__social {
        padding: 22px 50px;
    }
}

@media screen and (max-width: 640px) {
    .footer-section__content-form h5 {
        font-size: 32px;
    }

    .footer-section__social-title {
        font-size: 24px;
    }

    .footer-section__content-form {
        width: 100%;
        padding: 0 60px;
    }

    .footer-section__content-form p {
        font-size: 18px;
    }

    .footer-section__social-icons {
        gap: 40px;
    }

    .footer-section__social-icon {
        max-width: 40px !important;
        max-height: 40px !important;
    }
    
    .footer-section__text {
        padding: 0 20px;
        text-align: center;
    }

    .footer-section__content-container {
        padding: 0 50px;
    }

    .footer-section {
        padding: 55px 20px 0px;
    }
}


@media screen and (max-width: 430px) {
    .footer-section__content-form h5 {
        font-size: 28px;
    }

    .footer-section__content-form p {
        font-size: 16px;
    }

    .footer-section__social-icons {
        gap: 20px;
    }

    .footer-section__social-icon {
        max-width: 40px;
        max-height: 40px;
    }
    
    .footer-section__text {
        padding: 0 10px;
        text-align: center;
    }


}