:root {
    --main-bg-color: #222;
    --secondary-bg-color: #CAC6C3;
    --accent-color: #EE6DBF;
    --text-color: #222;
    --main-text-color: #ffffff;
    --main-title-color: #092638;
    --secondary-title-color: #FF009C;
    --accent-title-color: #E08AB1;
    --btn-color: #F440A0;
    --btn-hover-color: #f154a8;
}

@font-face {
    font-family: 'Kingsman Demo'; 
    src: url('../fonts/Kingsman\ Demo.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
