.voices-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-left: 201px;
    padding-right: 201px;
    padding-bottom: 20px;
    padding-top: 300px;
    margin-top: 300px;
    background-color: var(--main-bg-color);
}

.voices-section__secondary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    background-color:#FFF;
    border-radius: 18px;
    gap: 190px;
    padding-left: 200px;
    padding-right: 128px;
    padding-top: 92px;
    padding-bottom: 109px;
    border: 1px solid #D6AF09;
    position: absolute;
    top: -200px;
    left: 200px; 
    right: 200px; 
    width: auto; 
    overflow: hidden;
}

.voices-section__secondary-image {
    position: absolute;
    top: 0;
    left: 0;
}

.voices-section__secondary-title {
    color: var(--text-color);
    text-align: center;
    font-family: Comfortaa;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    z-index: 1;
}

.voices-section__secondary-text {
    color: var(--text-color);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    position: relative;
    z-index: 1;
}

.voices-section__secondary-text-container {
    display: flex;
    justify-content: flex-start;
    max-width: 613px;
    width: 100%;
    padding: 10px 0px 40px 0px;
    align-items: center;
    border-bottom: 1px solid #D6AF09;
}

.voices-section__main-title {
    color: var(--main-text-color);
    text-align: center;
    font-family: Comfortaa;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.voices-section__main-container {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: row;
    position: relative;
    border-radius: 18px;
    gap: 160px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 22px;
    box-sizing: border-box;
}

.voices-section__main-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 18px;
    padding: 40px 40px 40px 40px;
}

.voices-section__main-image {
    margin-bottom: 32px;
    width: 290px;
    height: 291px;
    border-radius: 50%;
}

.voices-section__main-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.voices-section__title {
    color: var(--main-text-color);
    text-align: center;
    font-family: "Kingsman Demo";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.voices-section__text {
    color: var(--main-text-color);
    text-align: center;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@media screen and (max-width: 1600px) {
    .voices-section__secondary-container {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 92px;
        padding-bottom: 109px;
        gap: 100px;
    }

    .voices-section__main-container {
        padding-left: 150px;
        padding-right: 150px;
        gap: 120px;
    }
}

@media screen and (max-width: 1500px) {
    .voices-section__main-container {
        padding-left: 100px;
        padding-right: 100px;
        gap: 80px;
    }
}

@media screen and (max-width: 1340px) {
    .voices-section__secondary-container {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 60px;
        gap: 60px;
    }

    .voices-section__main-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; 
        gap: 20px; 
        padding: 20px; 
        width: 100%; 
        box-sizing: border-box; 
        overflow: hidden;
        /* scroll-snap-type: x mandatory; 
        -webkit-overflow-scrolling: touch; */
    }

    .voices-section__main-item {
        flex-shrink: 0; 
        width: 360px; 
        display: flex;
        flex-direction: column; 
        align-items: center; 
        scroll-snap-align: start; 
    }

    /* .voices-section__main-container::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    
    .voices-section__main-container::-webkit-scrollbar-track {
        background: #E08AB1;
    }
    
    .voices-section__main-container::-webkit-scrollbar-thumb {
        background: #FF009C;
        border-radius: 5px;
    }
    
    .voices-section__main-container::-webkit-scrollbar-thumb:hover {
        background: #FF0055;
        cursor: pointer;
    } */
    
}

@media screen and (max-width: 1130px) {
    .voices-section__secondary-container {
        flex-direction: column;
        gap: 30px;
    }

    .voices-section__secondary-container {
        padding-top: 70px;
    }
}

@media screen and (max-width: 1040px) {
    .voices-section {
        padding-top: 340px;
    }
}

@media screen and (max-width: 900px) {
    .voices-section__secondary-title {
        font-size: 42px;
    }

    .voices-section__secondary-container {
        gap: 20px;
    }
}

@media screen and (max-width: 860px) {
    .voices-section {
        padding-top: 360px;
    }
}

@media screen and (max-width: 820px) {
    .voices-section__secondary-container {
        left: 50px; 
        right: 50px; 
    }

    .voices-section {
        padding-top: 300px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 600px) {
    .voices-section {
        padding-top: 360px;
    }
}

@media screen and (max-width: 540px) {
    .voices-section {
        padding-top: 400px;
    }
}

@media screen and (max-width: 500px) {
    .voices-section {
        padding-top: 240px;
    }

    .voices-section__secondary-title {
        font-size: 32px;
    }

    .voices-section__secondary-text {
        font-size: 14px;
    }

    .voices-section__secondary-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 20px;
    }

    .voices-section__secondary-text-container {
        border: none;
    }
}

@media screen and (max-width: 450px) {
    .voices-section__secondary-container {
        left: 30px; 
        right: 30px; 
    }
}

@media screen and (max-width: 400px) {
    .voices-section {
        padding-top: 300px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .voices-section__secondary-container {
        left: 20px; 
        right: 20px; 
    }
}